# Python
__pycache__/
*.py[cod]
*.sqlite3
*.db

# Sanal ortam
venv/
.env
.env.*

# IDE / Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Loglar
*.log

# FastAPI statik üretim klasörleri (örnek)
staticfiles/
